* {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
nav { 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
} 

nav .left {
    font-size: 15px;
}
a {
    text-decoration: none;
    color: white;
}
 nav .navbar {
    display: flex;
    justify-content: space-between;
}
 nav .navbar ul a {
    margin-left: 25px;
}
a:hover {
    color: indianred;
}
header{
    padding: 10px 20px;
    background-image: url(images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header .inner {
    
    text-align: center;
    width: 500px;
    
    
}
header .container {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .inner h2 {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    margin-bottom: 24px;
    
}
header .inner p {
    color: #d1d2d4;
    text-align: center;
    font-size: 22px;
    margin-bottom: 39px;
}
header .inner .btn-primary {
    padding: 15px 33px;
    font-size: 15px;
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid white;
}
.second-page .lorem h2 {
    text-align: center;
    font-size: 35px;
    color: #545454;
    margin: 0 0 35px;
}
.second-page .lorem p {
    text-align: center;
    font-size: 19px;
    color: #949494;
    margin: 0 0 65px;
}
.second-page .lorem {
    padding: 100px 355px;
} 
.second-page {
    background-image: url(images/secondbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.second-page .paint {
    width: 924px;
    height: 247px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: 20px solid white;
    border-right: 20px solid white;
    border-left: 20px solid white;
    border-radius: 10px;
} 

.third-page .icon-container {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    text-align: left;
}
article {
    margin: 10px;
    width: 30%;
    display: flex;
}
.third-page .icon-container article img {
    width: 66px;
    height: 66px;
}
.third-page .icon-container article h3 {
    font-size: 19px;
    color: #545454;
    margin: 0 30px 13px;
}
.third-page .icon-container article p {
    font-size: 15px;
    color: #646464;
    margin: 0 30px 30px;
}
.fourth-page {
    background-image: url(images/secondbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
}
.fourth-page .container {
    text-align: center;
    border: 1px solid red;
    padding: 100px 300px;
}
.fourth-page .container h2 {
    font-size: 35px;
    color: #545454;
    margin: 0 0 35px;
}
.fourth-page .container p {
    font-size: 19px;
    color: #949494;
    margin: -19px 0 65px;
}
.fourth-page .second-container {
    display: grid;
    grid-template-columns: repeat (auto-fill, minmax(300px, 1fr));
    grid-gap: 100px 50px;
}
.fourth-page .second-container .item {
    
    border-radius: 10px;
    background-color: white;
    text-align: center;
    display: grid;
    min-height: 420px;
    grid-template-rows: 100px 1fr;
    width: 305px;
}
.fourth-page .second-container .item .item_picture img {
    height: 138px;
    width: 305px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.fourth-page .second-container .item .item_content .item_title {
    font-size: 19px;
    color: #545454;
    margin: 0 0 18.3333px;
}
.fourth-page .second-container .item .item_content .item_paragraph {
    font-size: 15px;
    color: #646464;
    margin: 0 0 30px;
}
.fourth-page .second-container .item .item_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
    
    
    




